# Dev files
.env
node_modules/

# Build files
build/

# Test files
*.mp4
*.pdf

# Secret files
*.hfcoll
*.hfcoll.db
*.hfcoll.db-shm
*.hfcoll.db-wal
*.hfcoll.json.bak
*.hfkey
*.hfconf

# MacOS shit
.DS_Store

# Built executable
hfv
dist/